<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'main_page.html' %}
    <meta charset="UTF-8">
    {% block name %}
    <title>Title</title>
    {% endblock %}
</head>
<body>
{% block content %}
{% if request.user.is_authenticated %}
<form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                {{ form.as_p }}
                <input class="btb btn-secondary"type="submit" value="Изменить">
            </div>
        </div>
    </div>
</form>
{% else %}
<meta http-equiv="refresh" content="0;{% url 'company' %}">
{% endif %}
{% endblock %}
</body>
</html>