<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'bootstrap-5.1.3-examples/assets/dist/css/bootstrap.min.css' %}" rel="stylesheet"
          crossorigin="anonymous">
    <script src="{% static 'bootstrap-5.1.3-examples/assets/dist/js/bootstrap.bundle.min.js' %}"
            crossorigin="anonymous"></script>
    {% block name %}
    <title>Главная</title>
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main' %}">СуперМегаАнализатор</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выход</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'log' %}">Вход</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all_sites' %}">Сайты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'table' %}">Результаты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'company' %}">Компании</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
{% block content %}
<form action="{% url 'main' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                {{ form.as_p }}
                <button class="btn btn-secondary" type="submit">Добавить</button>
            </div>
        </div>
    </div>

</form>
{% endblock %}

</body>
</html>